# macOS
**.DS_Store

# JetBrains
.idea/

# Python
**__pycache__
**.pytest_cache

# environment
*.env*
.venv*/
.python-venv

# auth secrets
**private*.json

# output
**logs/
output/

# miscellaneous
resources/files/crime_categories.new.json

# testing
tests/*.json
tests/**/*.html
