
services:

  app:
    image: ghcr.io/uberfastman/fantasy-football-metrics-weekly-report:17.0.3
    platform: linux/amd64
    ports:
      - "5001:5000"
    volumes:
      - /etc/localtime:/etc/localtime # sync container timezone with host
      - .:/opt/ffmwr # mount host repository directory
