aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.6
colorama==0.4.4
ff-espn-api==1.1.9
gitdb==4.0.7
GitPython==3.1.24
google-api-core==2.0.1
google-api-python-client==2.21.0
google-auth==2.1.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
httplib2==0.19.1
idna==3.2
iniconfig==1.1.1
multidict==5.1.0
numpy==1.21.2
oauth2client==4.1.3
packaging==21.0
Pillow==8.3.2
pluggy==0.13.1
protobuf==3.18.0
py==1.10.0
pyaml==21.8.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyDrive==1.3.1
pyparsing==2.4.7
pytest==6.1.2
python-dotenv==0.14.0
PyYAML==5.4.1
rauth==0.7.3
reportlab==3.6.1
requests==2.26.0
rsa==4.7.2
six==1.16.0
slack==0.0.2
slackclient==2.9.3
smmap==4.0.0
soupsieve==2.2.1
stringcase==1.2.0
toml==0.10.2
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.26.6
yahoo-oauth==1.1
yarl==1.6.3
yfpy==3.3.1
