beautifulsoup4==4.12.2
colorama==0.4.6
espn-api==0.31.0
GitPython==3.1.36
google-api-python-client==2.99.0
httplib2==0.22.0
numpy==1.26.0
oauth2client==4.1.3
Pillow==10.0.1
PyDrive==1.3.1
pytest==7.4.2
reportlab==4.0.4
requests==2.31.0
selenium==4.12.0
slack==0.0.2
slackclient==2.9.4
urllib3==2.0.4
yahoo-oauth==2.0
yfpy==13.0.0
